/* All styles for your header Components live here */
.appHeader {
  display: flex;
  flex-direction: row;
}

.appHeader img {
  width: 55px;
  height: 55px;
  margin: 0 1%;
}

.appHeader h2 {
  line-height: 0;
}